tbody tr:nth-child(5) td table {
  border-collapse: collapse;
}

.hidden, .hiddenRadio {
  display: none;
}

.newWrapper {
  border-left: #A8BCDF 5px solid;
  border-right: #A8BCDF 5px solid;
}

.sectionTable {
  width: 90%;
  margin: 20px auto;
}

.checkbox_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.checkbox_div label {
  text-align: left;
  margin-right: 2rem;
  color: white;
}
.checkbox {
  text-transform: capitalize;
  font-size: 0.83em;
}
.checkbox_div input[type=checkbox] {
  margin-right: 1rem;
}

.filterbox {
  text-align: left;
}
.filterbox input {
  width: 80%;
}
.filter-heading {
  color: white;
  text-transform: capitalize;
}
input[type=search] {
  width: 100%;
}
.filterTag {
  display: inline-block;
  padding: 5px;
  padding-left: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 1rem;
  vertical-align: middle;
}
.filterTag > p {
  display: inline-block;
  margin: 0;
}
.filterTag > p:nth-child(1) {
  margin-right: 1rem;
}
.shown {
  animation: show 1s linear;
}

@keyframes show {
  0% {
    background-color: cyan;
  }
  100% {
    background-color: inherit;
  }
}