@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
tbody tr:nth-child(5) td table {
  border-collapse: collapse;
}

.hidden, .hiddenRadio {
  display: none;
}

.newWrapper {
  border-left: #A8BCDF 5px solid;
  border-right: #A8BCDF 5px solid;
}

.sectionTable {
  width: 90%;
  margin: 20px auto;
}
.sectionTable > tbody > tr:not(:first-child) td {
  background-image: none;
}
.sectionTable > tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.checkbox_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.checkbox_div label {
  text-align: left;
  margin-right: 2rem;
  color: white;
}
.checkbox {
  text-transform: capitalize;
  font-size: 0.83em;
}
.checkbox_div input[type=checkbox] {
  margin: 0rem .4rem;
}
.checkbox_div > label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.filterbox {
  text-align: left;
}
.filterbox input {
  width: 80%;
}
.filter-heading {
  color: white;
  text-transform: capitalize;
}
input[type=search] {
  width: 100%;
}
.filterTag {
  display: inline-block;
  padding: 5px;
  padding-left: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: .5rem;
  vertical-align: middle;
}
.filterTag > p {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}
.filterTag > p:nth-child(1) {
  margin-right: 1rem;
  cursor: pointer;
}
.shown {
  animation: show .8s linear;
}


@keyframes show {
  0% {
    background-color: rgb(133, 236, 240);
  }
  100% {
    background-color: inherit;
  }
}

#prettyGrid {
  width: 90%;
  display: grid;
  grid-template-columns: auto repeat(6,2fr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.headCell {
  z-index: 2;
  grid-row: 1;
}
.classCell {
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin: 2px 6px;
}
.timeCell {
  grid-column: 1;
  display: flex;
  align-items: center;
}
.timeCell > p {
  margin: 0;
  transform: translateY(-17px);
  padding: 6px;
  background-color: white;
}
.gridLine {
  grid-column: 1 / span 7;
  border-bottom: 2px solid #f0f0f0;
  box-sizing: content-box;
}
#ap-sitemap {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  align-items: stretch;
}
#ap-sitemap > a {
  flex: 1 1 auto;
  text-decoration: none;
}
#ap-sitemap > a > div {
  height: 100%;
  display: grid;
  background-color: white;
  grid-template-rows: 2fr fit-content(0) fit-content(0);
  padding: 1.6rem;
  box-shadow: rgba(145, 145, 145, 0.35) 0px 0px 10px 3px;
  /* -webkit-box-shadow: 0px 0px 20px 4px rgba(145, 145, 145, 0.35);
  -moz-box-shadow: 0px 0px 20px 4px rgba(145, 145, 145, 0.35); */
  transition: box-shadow .2s linear;
  /* font-size: 1vw; */
  font-size: 14px;
}
#ap-sitemap > a > div:hover {
  box-shadow: rgba(145, 145, 145, 0.35) 0px 0px 12px 6px;
}
#ap-sitemap > a > div > h3 {
  margin: 0;
  font-weight: bold;
  color: #485368;
  font-size: 1em;
}
#ap-sitemap > a > div > p {
  color: #9faabf;
  font-size: .8em;
}
#ap-sitemap > a > div > img {
  width: 2.5em;
  height: 2.5em;
  transition: transform .2s cubic-bezier(.46,1.53,.79,.98);
  margin-bottom: 1em;
}
#ap-sitemap > a:hover > div > img {
  transform: scale(1.15);
}
#ap-sitemap > a:hover > div > h3 {
  text-decoration: underline;
}
#ap-sitemap > div:last-child {
  width: 100%;
  text-align: center;
  /* color: black; */
  /* background: rgb(46,185,255); */
  /* background: linear-gradient(40deg, rgb(129, 213, 255) 0%, rgb(89, 122, 255) 69%); */
  /* border-image: linear-gradient(40deg, rgb(129, 213, 255) 0%, rgb(89, 122, 255) 69%) 1;
  border-width: 2px;
  border-style: solid; */
  padding: 1rem;
}
#ap-sitemap > div:last-child > h2, #ap-sitemap > div:last-child p {
  margin: 0;
}
#ap-sitemap > div:last-child p {
  display: inline;
}
#ap-sitemap > div:last-child > h2 {
  font-size: 1em;
  background-image: linear-gradient(40deg, rgb(129, 213, 255) 0%, rgb(89, 122, 255) 69%);
  font-weight: bold;
  color: transparent;
  background-clip: text;
}
#ap-sitemap > div:last-child > a {
  background-image: linear-gradient(40deg, rgb(129, 213, 255) 0%, rgb(89, 122, 255) 69%);
  color: transparent;
  background-clip: text;
  font-size: 0.8em;
}
tr:has(> #ap-prettyLogin) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  height: 75vh;
  flex-direction: column;
}
tr:has(> #ap-prettyLogin) > img {
  width: 10vw;
}
tr:has(> #ap-prettyLogin) > * {
  display: block;
}
tr:has(> #ap-prettyLogin) > h1 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#ap-prettyLogin > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ap-prettyLogin > form > input {
  display: block;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  outline: none;
  width: 12em;
  margin: 0.5rem;
}
#ap-prettyLogin > form > input[type=submit] {
  border: none;
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #2EBFFF;
  border-radius: 5px;
}
#osu-container {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow: visible;
}
#osu-playarea {
  position: fixed;
  padding: 2rem;
  box-sizing: content-box;
  left: 0;
  right: 0;
  top: 5vh;
  aspect-ratio: calc(4/3);
  height: 80vh;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  animation: .5s fadeIn linear;
}
#osu-playarea > h1 {
  font-size: 1.6vw;
  margin: 0;
  font-family: Arial, sans-serif;
}
#osu-playarea > p {
  font-family: Arial, sans-serif;
  margin: 0;
}
.bm_note {
  position: absolute;
  font-size: 2vw !important;
  animation: .8s closeInNote linear both;
  outline: 0.4vw black solid; 
  text-wrap: nowrap;
}
.bm_note::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid black;
  animation: .6s closeIn linear;
  pointer-events: none;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes closeInNote {
  0% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes closeIn {
  from {scale: 5}
  to {scale: 1}
}
@keyframes pop_in {
    0% {opacity: 0.5; transform: scale(0.8)}
    20% {opacity: 1; transform: scale(1.2)}
    30% {opacity: 1; transform: scale(1)}
    90% {opacity: 1; transform: scale(1)}
    100% {opacity: 0; transform: scale(0.8)}
}
.pop_grade_combo {
    animation: pop_in .4s linear;
    font-size: 3vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    color: #7ed0ff;
    text-align: center;
    z-index: -1;
}
@keyframes pulsateOutline {
  0% {
    outline: 0 solid #618bff00;
  }
  100% {
    outline: 0.8rem solid #ff7d4ac2;
  }
}
.home-highlight {
  position: relative;
  z-index: 5;
  animation: pulsateOutline .6s cubic-bezier(0,1.16,.98,.96) alternate infinite;
}