tbody tr:nth-child(5) td table {
  border-collapse: collapse;
}

.hidden, .hiddenRadio {
  display: none;
}

.newWrapper {
  border-left: #A8BCDF 5px solid;
  border-right: #A8BCDF 5px solid;
}

.sectionTable {
  width: 90%;
  margin: 20px auto;
}
.sectionTable > tbody > tr:not(:first-child) td {
  background-image: none;
}
.sectionTable > tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.checkbox_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.checkbox_div label {
  text-align: left;
  margin-right: 2rem;
  color: white;
}
.checkbox {
  text-transform: capitalize;
  font-size: 0.83em;
}
.checkbox_div input[type=checkbox] {
  margin: 0rem .4rem;
}
.checkbox_div > label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.filterbox {
  text-align: left;
}
.filterbox input {
  width: 80%;
}
.filter-heading {
  color: white;
  text-transform: capitalize;
}
input[type=search] {
  width: 100%;
}
.filterTag {
  display: inline-block;
  padding: 5px;
  padding-left: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: .5rem;
  vertical-align: middle;
}
.filterTag > p {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}
.filterTag > p:nth-child(1) {
  margin-right: 1rem;
  cursor: pointer;
}
.shown {
  animation: show .8s linear;
}


@keyframes show {
  0% {
    background-color: rgb(133, 236, 240);
  }
  100% {
    background-color: inherit;
  }
}

#prettyGrid {
  width: 90%;
  display: grid;
  grid-template-columns: auto repeat(6,2fr);
  grid-gap: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.classCell {
  padding: 1rem;
  border-radius: 10px;
  color: white
}
.timeCell {
  margin: 0;
}