@keyframes popupS {
    0% {transform: translate(0em, 5em)}
    10% {transform: translate(0em, 0em)}
    90% {transform: translate(0em, 0em)}
    100% {transform: translate(0em, 5em)}
}
@keyframes popend {
    0% {
    transform: scale(1);
      opacity: 1;
    }
    100% {
        transform: scale(2);
      opacity: 0;
    }
  }
.s_img {
    position: fixed;
    bottom: 0;
    animation: ease-in-out popupS 2s;
    filter: drop-shadow(0px 0px 1px rgb(112, 112, 112));
    width: 5em;
}
#secret_input {
    display: none;
}
.popend {
    position: fixed;
    bottom: 0;
    filter: drop-shadow(0px 0px 1px rgb(112, 112, 112));
    width: 5em;
    animation: popend linear .2s;
}
.phys-static {
  position: fixed;
}
.phys-ground {
  bottom: -5em;
  left: 0;
  width: 100vw;
  height: 5em;
}
.phys-ceil {
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 1em;
}
.phys-wall1 {
  top: -100vh;
  left: -5em;
  width: 5em;
  height: 200vh;
}
.phys-wall2 {
  top: -100vh;
  right: -5em;
  width: 5em;
  height: 200vh;
}